POSTGRES_DB=recondb
POSTGRES_USER=recon_app
POSTGRES_PASSWORD=change-me-local-db-password

MQ_QMGR_NAME=QM1
MQ_APP_PASSWORD=change-me-local-mq-password
MQ_ADMIN_PASSWORD=change-me-local-admin-password
